table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    border-width: 5px;
    border-color:#000000;
    background: #c7c7c7;
    border-radius: 20px;
    }
    td {
    border-width: 5px;
    border-color:#000000;
    padding: 10px;
    color: #8D8173;
    background-color: bisque;
    }
    