table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    }
    td {
    border-style: solid;
    border-color: #D8E6F3;
    }
    td {
    background: white;
    }
    